<!-- NAVIGATION MENU -->
<div class="navbar-nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand"><img style="width: 25px;"src="/images/Warning.jpg" alt=""> logo </span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a><i class="icon-folder-open icon-white"></i>QA</a></li>
                <li ><a><i class="icon-calendar icon-white"></i>Staging</a></li>
                <li class="active"><a><i class="icon-calendar icon-white"></i>Production</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <!-- FIRST ROW OF BLOCKS -->
    <div id="row" class="row">
    </div><!-- /row -->
</div>